<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" [routerLink]="['/']">{{ title }}</a>
    <div class="float-right">
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarToCollapse"
        aria-controls="#navbarToCollapse"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarToCollapse">
        <ul class="navbar-nav" *ngFor="let link of links">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="[link]">{{ link }}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
